:root {
    background-color: #f0f0f0;
}


h1 {
    margin-top: 5rem;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #1475cf;
    line-height: 1.5rem;
    border: #1475cf;

}

p {
    font-family: Poppins;
    font-size: 14px;
    line-height: .5rem;
    color: rgb(37, 37, 37);
}

.container {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 30rem;
    margin: 0 auto;
    border-width: 1px;
    border-color: #259821;
    border: 2px solid black;
    outline: #4CAF50 solid 20px;
    margin: auto;  
    padding: 20px;
    text-align: center;

}

.hud-prefix {
    margin-top: 20px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 5rem;
    /* padding-top: 10rem; */
}

.hud-main-text {
    color: #1475cf;
}

#progressbar {
    width: 10rem;
    height: 1.5rem;
    border: 0.2rem solid;
    margin-top: 1rem;
}

#progressbarfull {
    height: 1.1rem;
    background-color: #259821;
    width: 0%;
}

.logo {
    margin-top: 1px;
    height: 50px;
}

.btn {
    font-family: Poppins;
    font-size: 14px;
    padding: 10px 22px;
    width: 4rem;
    text-align: center;
    border: 0.1rem solid #1475cf;
    text-decoration: none;
    color: #1475cf;
    background-color: white;
    /* border-radius: 12px; */
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;

}